<div class="col-sm-3">
  <a href="http://localhost:8000/authors/specific?id= <%= data.aid %> ">
    <div style="padding: 2rem">
      <img
        src="/img/<%= data.author_name %>.png"
        alt="hero"
        width="264px"
        height="auto"
      />
      <h4><%= data.author_name %></h4>
    </div>
  </a>
</div>
