<div class="col-sm-3">
  <a href="http://localhost:8000/books/specific?bno=<%= data.bno %>">
    <div style="padding: 2rem">
      <img
        src="/img/<%= data.title %>.png"
        alt="hero"
        width="264px"
        height="auto"
      />
      <h4><%= data.title %></h4>
    </div>
  </a>
</div>
